<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="is_sim" default="true"/>
    
    <xacro:include filename="robot_core.xacro" />

    <xacro:include filename="gazebo_control.xacro" />

    <!-- <xacro:include filename="robot_core.xacro"/> -->
    <!-- <xacro:include filename="$(find hunter_description)/description/robot_core.xacro"/>
    <xacro:hunter_2 prefix="$(arg prefix)" />
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="$(find hunter_description)/description/ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="$(find hunter_description)/description/gazebo_control.xacro" />
    </xacro:unless> -->

</robot>