<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot_ros2_control" params="name prefix use_mock_hardware">

    <ros2_control name="${name}" type="system">
        <hardware>
          <plugin>dogtooth_hardware/DogtoothHardware</plugin>
          <param name="disable_commands">true</param>
        </hardware>
        
    </ros2_control>


  </xacro:macro>

</robot>
