<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- REF: https://github.com/ros-simulation/gazebo_ros_pkgs/wiki/ROS-2-Migration:-Skid-Steer-drive -->

    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <update_rate>500</update_rate>
            <num_wheel_pairs>2</num_wheel_pairs>

            <!-- FRONT -->
            <left_joint>front_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>            

            <!-- REAR -->
            <left_joint>back_left_wheel_joint</left_joint>
            <right_joint>back_right_wheel_joint</right_joint>     

            <!-- KINEMATICS -->
            <wheel_separation>0.525</wheel_separation>
            <wheel_separation>0.525</wheel_separation>

            <wheel_diameter>0.279</wheel_diameter>
            <wheel_diameter>0.279</wheel_diameter>

            <!-- Limits -->
            <max_wheel_torque>100</max_wheel_torque>
            <max_wheel_acceleration>5.0</max_wheel_acceleration>

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>

</robot>

